# Ignore Data Folders
data/raw/
data/processed/
data/output/

# Ignore DBs
*.db
*.sqlite

# Ignore Excel files generally
# Ignore Excel files in specific data folders ONLY
data/raw/*.xlsx
data/processed/*.xlsx
data/output/*.xlsx

# Allow master files (DO NOT IGNORE)
!data/masters/*.xlsx
__pycache__/
.idea/
venv/
.env
