# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/

# Data (Keep confidential data local)
data/raw/*
data/processed/*
data/output/*
data/masters/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/output/.gitkeep
!data/masters/.gitkeep
*.db
*.sqlite3

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
